@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-thumb {
  background-color: orangered ;
}
html::-webkit-scrollbar-track {
  background-color: black;
}
.App {
  overflow-x: hidden;
}
body {
  font-family: 'Instrument Serif', serif;
}